<tr>
    <td>
        <label for="rulermenu">Ruler:</label>
    </td>
    <td>
        <select id="rulermenu">
        <option value="none">None</option>
        <option value="70">70</option>
        <option value="78">78</option>
        <option value="80">80</option>
        <option value="100">100</option>
        <option value="120">120</option>
        </select>
    </td>
</tr>